.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff !important;
}
.timeline__content-desc {
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  font-weight: normal;
  line-height: 25px;
  font-style: italic;
  color:#fff;
  margin-top: 20px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 40px 0;
  /*opacity: 0.3;
  filter: blur(2px);*/
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  height: 100vh;
  display: flex;
  position: relative;
  transform: translateY(-80px);
  background-position: center;
}
.timeline-item:before {
  content: attr(data-text);
  width: 100%;
  position: absolute;
  color: #fff;
  font-size: 30px;
  border-left: 4px solid var(--primary-color-2);
  top: 30%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 1;
  right: calc(-100% - 56px);
  line-height: 30px;
}
scroll:nth-child(even) .timeline-item {
  align-self: flex-end;
}
scroll:nth-child(even) .timeline-item:before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 4px solid var(--primary-color-2);
  padding-right: 15px;
  line-height: 30px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 40px !important;
    padding: 0 !important;
    top: 0px;
    text-align: left !important;
    width: 100%;
    border: none !important;
    font-size: 22px;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
  .timeline__content{
    margin-top: 50px;
  }
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  position: absolute;
  opacity: 0;
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}
.timeline-icon{
  background: var(--primary-color-1);
  padding: 20px;
  border-radius: 5px;
}