:root {
  --primary-color-1:#313274;
  --primary-color-2:#ffde00;
  --primary-color-3:#18191b;
}




.linear-bg{
	background:#18191b url(../../images/section-bg.png) repeat-y !important;
	background-size: 100% !important;
}

.text-parallax {
    background: no-repeat 0 0;
    display: inline-block;
}
.text-parallax-content {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 21.8em;
    line-height: 1;
    overflow: hidden;
    margin-bottom: 0;
    background: #18191b;
    color: #fff;
    mix-blend-mode: darken;
    -ms-mix-blend-mode: darken;
}
.text-yellow{
	color:var(--primary-color-1);
}
.d-i-block{
	display: inline-block;
}
.wat-we-do{
	border:1px solid #999;
	padding: 50px;
}
.de-team-contact h3{
	border:1px dotted #999;
	padding: 10px;
}
.pt100{
	padding-top: 100px;
}
.pt100{
	padding-top: 50;
}
.our-team h1{
	position: relative;
	z-index: 9999;
	font-size: 50px;
	padding:0;
	top:-16px;
	left: -2px;
	color:#18191b;
	text-align: left;
}
.list-inline li{
	display: inline-block;
}
.list-inline li{
	padding-right:10px;
}
.list-inline li a{
	color:var(--primary-color-2);
}




/********************Light Version*********************/
.de_light section.linear-bg{
	background:#fff url(../../images/section-bg1.png) repeat-y !important;
	background-size: 100% !important;
}
.de_light .text-parallax-content{
	background: #fff;
	color: #18191b;
    mix-blend-mode: lighten;
    -ms-mix-blend-mode: lighten;

}
.de_light header.smaller:not(.header-bottom):not(.side-header):not(.force-header-mobile){
	background: #fff;
	box-shadow: 0 5px 20px rgb(0,0,0,.1);
}
.de_light .bg-grey{
	background: #f8f8f8 !important;
	border:none;
}
.pt-0{
	padding-top: 0 !important;
}
.feature-box i, #mainmenu li:hover > ul, .date-box .day, .slider_text h1, .id-color, h1.id-color, h2.id-color, h3.id-color, h4.id-color, h5.id-color, h6.id-color, .pricing-box li h1, .title span, i.large:hover, .feature-box-small-icon-2 i, address span i, .pricing-dark .pricing-box li.price-row, .price, #mainmenu a:hover, #mainmenu a.active, header.smaller #mainmenu a.active, .pricing-dark .pricing-box li.price-row, .dark .feature-box-small-icon i, a.btn-slider:after, .feature-box-small-icon i, a.btn-line:after, .team-list .social a, .de_contact_info i, .de_count, .dark .btn-line:hover:after, .dark a.btn-line:hover:after, .dark a.btn-line.hover:after, a.btn-text:after, .separator span i, address span strong, .de_tab.tab_steps .de_nav li span:hover, .de_testi_by, .pf_text, .widget_tags li a, .dark .btn-line:after, .dark a.btn-line:after, .crumb a, .btn-right:after, .btn-left:before, #mainmenu li a:after, .de_form input[type="radio"]:checked + label:before, .de_form input[type="checkbox"]:checked + label:before, #mainmenu li:hover > a, .expand h4:after, .pricing-s1 .bottom ul li i, footer a:hover, .picframe .project-name, blockquote.testimonial-big:before, .btn.btn-link, .de_light a.btn-line:hover, .schedule-item .sc-name span, .de_tab.tab_style_4 .de_nav li span, .list-inline-style-1 li:before{
	/*color:var(--primary-color-1) !important;*/
}
.de_light section.bg-blue{
	background: var(--primary-color-1) !important;
}
.de_light section.bg-yellow{
	background: var(--primary-color-2) !important;
}
.de_light .blog-list .date-box .month, .de_light .blog-read .date-box .month{
	color:#111 !important;
}
.de_light .blog-list .date-box .day{

}
.de_light .box-fx .inner, .de_light .dark .box-fx .inner, .de_light .blog-list img, .de_light .arrow-up{
	border-bottom-color:var(--primary-color-2) !important;
}
.why-us .box-icon{
	box-shadow: 0 5px 20px rgba(0,0,0,.05);
	padding: 30px 0;
	background: #fff;
	border-radius: 10px;
}
.we-do .shadow h3{
	margin-bottom: 0;
	font-size: 25px;
}
.we-do .shadow.rounded{
	border-radius: 10px;
	overflow: hidden;
}
.testimonials{
	position: relative;
}
.testimonials:before{
	height: 100%;
	content: "";
	position: absolute;
	top:0;
	left: 0;
	background: url(../../images/dark-arrow.png) no-repeat right bottom;
	width: 100%;
	opacity: .02;
}
/*section.city-bg{
	background:#f8f8f8 url(../../images/city.png) no-repeat bottom center !important;
	min-height: 150px;
	width: 100%;
	background-size: 70% !important
}*/
section.bg-grey.city-bg{
background:#f8f8f8 url(../../images/city.png) no-repeat bottom center !important;	
	background-size: 60% !important;
	padding-bottom: 150px;
}

.have-question .form-group{
	margin-bottom: 0;
	position: relative;
}
.have-question .form-group i{
	position: absolute;
	top: 18px;
    left: 15px;
    color: #999
}
.have-question .form-group input, .have-question .form-group textarea{
	padding-left: 40px !important;
}
.have-question .form-group input:focus + i, .have-question .form-group textarea:focus + i{
	color: var(--primary-color-1);
}
.have-question .form-group input:focus, .have-question .form-group textarea:focus{
	box-shadow: 0 5px 20px rgba(0,0,0,.1);
	background: #fff !important;
	outline: none;
}

.have-question #contact_form input[type=text], .have-question #contact_form textarea, .have-question #contact_form input[type=email], .have-question #contact_form input[type=number], #search{

	
}
.wedo-section {
	background: #fff;
	min-height: 160px;
	margin-bottom: 30px;
	transition: all .5s ease-in-out;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0,0,0,.1);
}
.wedo-section img{
	margin-bottom: 10px;
	max-width: 80px;
	transition: all .3s ease-in-out;
}
.wedo-section h3{
	margin-bottom: 0;
}
.wedo-section:hover{
}
.wedo-section:hover img {
	transform: scale(1.1);
}
.how-we-work h3{
	color:var(--primary-color-1) !important;
	font-weight: bold;
}
.tracking-object{
	padding: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	min-height: 200px;
	background: #fff;
}
.tracking-object.left{
	border-radius: 0 100px 100px 0;
}
.tracking-object.right{
	border-radius: 100px 0px 0 100px;
}
.tracking-object.center{
	border-radius: 30px;
}
.tracking-object i{
	font-size: 50px;
	margin:10px 0;
}
.btn-line{
	
}
section.bg2, div.bg2{
	background: #fdf7ed !important;
}
.project .client .name{
	margin-top: 0;
}
.project .client{
	margin: 30px 0;
}
.track-image .home-img, .track-image .design-img{
	position: absolute;
}
.track-image .home-img{
	right: 0;
	top:30px;
}
.track-image .design-img{
	bottom: 100px;
	left:0;
}
.emi.overlay:before{
	content: "";
	top:0;
	bottom: 0;
	left:0;
	right:0;
	background: rgba(0,0,0,.7);
	position: absolute;
}
.de_light section.emi{
	position: relative;
	background: url("https://cdn.pixabay.com/photo/2017/08/30/07/58/money-2696238_960_720.jpg") center  !important;
	background-size: 100% !important;
	z-index: 9;
	position: relative;
}
.emi-options{
	position: relative;
	z-index: 
}
.emi-options .container{
	position: relative;
	z-index: 9;
	margin-top: -30px;
}
.emi-options .container .shadow{
	position: relative;
	z-index: 999;
	background: #fff;
}
.de_light section.contact-section{
	min-height: 400px;
	background: url(../../images/inner/contact.jpg) center !important;
	background-size: cover;
}
@media (min-width: 768px) {
.d-block-sm{
		display: none;
	}
}
@media (max-width: 768px) {
.d-block-sm{
		display: block;
	}
}
@media (max-width: 568px) {
	#gallery .item{
		margin-bottom: 10px;
	}
	.de_light section.emi{
		background-size: cover !important;
	}
.tracking-object.left{
	margin-bottom: 30px;
}
  .wat-we-do{
  	padding:50px 10px ;
  }
  .container .wat-we-do .col-md-3{
  	margin-bottom: 0;
  }
  .team-section:before{
  	width: 90%;
  	left: 5%;
  }
  .have-question .container .col-md-6{
  	margin-bottom: 0;
  }
 section.bg-grey.city-bg{
 	padding-bottom: 50px;
 	background-size: 95% !important;
 }
 .logo-small{
 	margin-left: 21%;
 	min-width: 200px;
 	margin-bottom: 0;
 }
 footer.style-2{
 	padding-top: 50px !important
 }
 h1.title{
 	font-size: 30px;
 }
 footer.style-2 .container .col-md-6{
 	margin-bottom: 0 !important;
 }

 #subheader.style-3, #subheader.style-4{
 	padding: 0;
 }
 #subheader h1{
 	margin:20px 0 0 0;
 }
 .text-xs-center{
 	text-align: center !important;
 }
 #section-slider{
 	/*max-height: 300px !important;*/
 }
 .tp-mask-wrap{
 	padding-left: 30px;
 }
 .tp-fullwidth-forcer{
 	/*max-height: 300px !important; */
 }
 .text-parallax-content{
 	font-size: 12em !important;
 }
 blockquote.testimonial-big{
 	font-size: 16px;
 	line-height: 1.5rem;
 }
 blockquote.testimonial-big p{
 	min-height: 470px;
 }
 .wedo-section{
 	padding: 5px !important;
 	margin-bottom: 15px;
 	min-height: 135px;
 }
 .wedo-section h3{
 	font-size: 14px;
 }
 .wedo-section img{
 	margin-bottom: 5px !important;
 }
 #section-before-after {
 	padding-bottom: 0 !important;
 }
 .typing-wrap{
 	font-size: 25px;
 }
 #section-typing.padding40{
 	padding: 20px 15px !important;
 }
 #section-typing .container{
 	padding: 0 !important;
 }
 #section-typing .container .col-md-12{
 	margin-bottom: 0;
 }
 .team-section blockquote.mb30{
 	margin-bottom: 0;
 	font-size: 16px;
 }
 .team-section .container .col-md-3{
 	margin-bottom: 10px !important
 }
 .de-team-contact img{
 	margin-bottom: 10px;
 }
 section.team-section{
 	padding: 0;
 }
 .de_light .team-section:before{
 	height: 98%;
 	top:1%;
 }
 #subheader{
 	margin-top: 80px;
 }
 .tp-caption{
 	font-size: 25px !important;
 }
 .social-icons{
 	text-align: center;
 }
 h2{
 	font-size: 1.5rem !important
 }
 .timeline-item:before{
 	font-size: 23px !important;
 }
 .timeline-item{
 	padding: 0 10px 150px 30px !important;
 }
 .project-info{
 	margin-left: 0;
 }
 .project-info .details{
 	padding: 20px 5px;
 }
 .spaces-section .padding50{
 	padding:20px 10px !important;
 }
  .spaces-section h1{
  	font-size: 20px;
  	letter-spacing: 0;
  }
  .de_form.de_chcekbox .mr20{
  	margin-right: 10px !important
  }
  .de_light .de_form input[type="radio"] + label, .de_light .de_form input[type="checkbox"] + label{
  	font-size: 12px;
  	padding-left: 5px;
  }
  .de_form input[type="checkbox"] + label:before{
  	margin-right: 5px;
  }
  .tracking-object blockquote{
  	font-size: 15px;
  }
  .de_light .expand{
  	padding: 10px;
  }
  .de_light .expand h4{
  	line-height: 20px;
  }
  .section-faq .col-md-12{
  	padding:0;
  }

 .box-icon .text p{
  margin-left: -70px !important;
  margin-top: 20px;
 }
  .how-we-work  .box-icon .icon{
 	top:-20px;
 	left:20px;
 }
}
@media (max-width: 390px){
	.tp-caption {
		font-size: 18px !important
	}
	.container{
		padding-left: 10px !important;
		padding-right: 10px !important
	}
}
@media only screen and (min-width: 993px){
		header nav #mainmenu{
			height: 100vh;
		}
		#menu-btn{
			margin-top:20px;
		}
			header nav{
				position: absolute;
				right: 0;
			}
			header .col-md-12{
				position: static;
			}
	}

	 #subheader{
 	display: none;
 }

 .de_light header.smaller:not(.header-bottom):not(.side-header):not(.force-header-mobile) #menu-btn{
  background: var(--primary-color-1);
 }